body,
html {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-variation-settings: "wdth" 100;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.ContainerThing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -70px;
  height: 110vh;
}

.Profile {
  background-color: #171819af;
  background-size: cover;
  background-position-x: -100px;
  border-radius: 5px;
  width: 550px;
  height: 300px;
  color: #ffffff;
}

.pfp {
  border-radius: 50%;
  width: 100px;
}

.name {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.name.hide {
  opacity: 0;
  transform: translateY(-20px);
}

.madeby {
  position: relative;
  top: 200px;
}

.dc {
  color: #363636;
  cursor: pointer;
  font-size: 20px;
}

.desc {
  font-size: 17px;
}

.eclipsewtf {
  text-decoration: none;
  color: #9cace9;
  cursor: pointer;
}

.pfp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.icon:hover {
  transform: scale(1.2);
}

.icon {
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.audiospurfr {
  width: 300px;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5%;
  border: #363636 2px solid;
  background-color: #3636365b;
  position: relative;
}

.fa-play,
.fa-pause {
  color: white;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  left: 5px;
  top: 1px;
}

.progress-bar-container {
  width: 250px;
  height: 4px;
  background-color: #ffffff50;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  left: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.1s linear;
}

.progress-dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  transition: left 0.1s linear;
}
